In [4]:
%matplotlib inline
import pandas as pd
import os

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
tar = os.chdir("C:\\Users\\xiyan_wang\\Desktop\\mystuff\\PyCon\\pycon-pandas-tutorial-master\\build\\data")
titles = pd.DataFrame.from_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [7]:
cast = pd.DataFrame.from_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [19]:
print "The number of movies listed : ", len(titles)

The number of movies listed :  230621

### What are the earliest two films listed in the titles dataframe?

In [27]:
titles = titles.sort_values(['year'],ascending=[1])

In [30]:
titles.head(n = 2)

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [45]:
hamlet =titles[titles.title == 'Hamlet']

In [46]:
print len(hamlet)

18

### How many movies are titled "North by Northwest"?

In [47]:
nbn = titles[titles.title == 'North by Northwest']

In [48]:
print len(nbn)

1

### When was the first movie titled "Hamlet" made?

In [53]:
first_hamlet = hamlet.sort_values(['year'],ascending = [1]).head(n=1)

In [58]:
print "first hamlet movie is made in", first_hamlet.iloc[0]["year"]

first hamlet movie is made in 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [64]:
titles[titles.title == 'Treasure Island'].sort(['year'],ascending = [1])

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [65]:
n_y1950 = len(titles[titles.year == 1950])

In [67]:
print n_y1950

1093

### How many movies were made in the year 1960?

In [68]:
n_y1960 = len(titles[titles.year == 1960])

In [69]:
print n_y1960

1496

### How many movies were made from 1950 through 1959?

In [73]:
n_y50th = len(titles[(titles.year >= 1950) & (titles.year <=1959)])

In [74]:
n_y50th

12656

### In what years has a movie titled "Batman" been released?

In [77]:
batman = titles[titles.title=="Batman"]

In [78]:
batman.iloc[0]["year"]

1943

### How many roles were there in the movie "Inception"?

In [80]:
inception_cast = cast[cast.title == "Inception"]

In [81]:
len(inception_cast)

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [86]:
notnullcast = inception_cast[inception_cast.n.notnull()]

In [88]:
len(notnullcast)

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [90]:
nullcast = inception_cast[inception_cast.n.isnull()]

In [91]:
len(nullcast)

26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [97]:
nbycast = cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort('n')

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [99]:
nbycast

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [103]:
sleuthcast = cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort('n')

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [104]:
sleuthcast

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [107]:
sleuth07 = cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort('n')

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [108]:
sleuth07

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [116]:
hamlet1921 = cast[(cast.title == "Hamlet") & (cast.year == 1921) & (cast.n.notnull())]

In [118]:
len(hamlet1921)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [119]:
mlet1921 = cast[(cast.title == "Hamlet") & (cast.year == 1996) & (cast.n.notnull())]

In [121]:
len(mlet1921)

46

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

In [123]:
ophelia = cast[cast.character == "Ophelia"]

In [128]:
print len(ophelia.name.unique())
print len(ophelia)

109
111

### How many people have played a role called "The Dude"?

In [129]:
thedude = cast[cast.character == 'The Dude']

In [130]:
print len(thedude)
print len(thedude.name.unique())

18
18

### How many people have played a role called "The Stranger"?

In [131]:
stranger = cast[cast.character == 'The Stranger']

In [132]:
print len(stranger)
print len(stranger.name.unique())

208
197

### How many roles has Sidney Poitier played throughout his career?

In [134]:
sidney = cast[cast.name == 'Sidney Poitier']

In [135]:
len(sidney)

43

### How many roles has Judi Dench played?

In [136]:
Judi = cast[cast.name == 'Judi Dench']

In [137]:
len(Judi)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [138]:
supportcary = cast[(cast.name == "Cary Grant") & (cast.n ==2)].sort('year')

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [139]:
supportcary

,title,year,name,type,character,n
840364,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
840384,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
840403,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
840395,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
840358,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
840404,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
840339,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
840347,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
840414,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
840388,Sylvia Scarlett,1936,Cary Grant,actor,Jimmy Monkley,2.0
840412,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
840413,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
840392,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
840402,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
840408,Topper,1937,Cary Grant,actor,George Kerby,2.0
840354,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
840340,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
840359,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840381,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [20]:
cast[(cast.name == "Cary Grant") & (cast.n ==1 ) & (cast.year // 10 ==194)].sort('year')

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### How many roles were available for actors in the 1950s?

In [24]:
len(cast[(cast.type == "actor") & (cast.year//10 == 195)] )

154727

### How many roles were avilable for actresses in the 1950s?

In [26]:
len(cast[(cast.type == "actress") & (cast.year // 10 == 195)])

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [27]:
len(cast[(cast.n == 1)&(cast.year < 1990)])

75762

### How many non-leading roles were available through from the beginning of film history through 1980?

In [28]:
len(cast[(cast.n != 1)& (cast.year<1990)])

1342856

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [32]:
len(cast[(cast.n.isnull()) & (cast.year<=1980)])

438086